.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}

.stage-direction{
    
    font-family: 'sans-serif';
    font-size: 18px;
    color: black;
    background-color: lightcyan;
}

.stage-direction:hover {
    background-color:lightcoral;
    color:darkgoldenrod;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}

.LORD_GORING{
    font-family: sans-serif;
    color: darkseagreen;
}

.LORD_CAVERSHAM{
    font-family: Verdana;
    color: seagreen
}

.table_heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:black;
}

table.actors{
    font-family:  Helvetica;
    width: 60%;
    padding: 30px;
    margin: 50px;
}

table.actors tr:nth-child(odd){
    background-color:pink;
}

table.actors td, table.actors th {
    border: 1px solid darkgrey;
    padding: 10px;
    text-align: left;
    color:slateblue
}

table.actors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:blanchedalmond;
    color:black;
}

.LORD_GORING:hover{
    text-shadow: 4px 3px 8px grey;
    border-style:solid;
    color:darkslategrey;
}

.LORD_CAVERSHAM:hover{
    text-shadow: 4px 3px 8px hotpink;
    border-style:double;
    color: dimgray;
}

  
.navbar {
    margin: auto;
    width: 50%;
    background-color:cornsilk;
    border: 3px solid plum;
    padding: 10px;
    display: table-cell;
    text-align: left;
    overflow: auto;
}